<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hang man</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>

    <div class="container" id="container">
        <h1>Hello Player</h1>
        <button id="start" onclick="start()">Start</button>
        <!-- <div id="word">{{fetchWord}}</div> -->
        <div id="gameArea"></div>
    </div>

    <div class="container" id="gameBox">

    </div>

    
</body>
</html>
